@import './base.css';

#app {
  width: min(1100px, calc(100vw - 2rem));
  margin: 0 auto;
  padding: 1rem 0 2rem;
  font-weight: 400;
}

code {
  font-family: ui-monospace, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}
